$s-size: 1.6rem;
$m-size: 3.2rem;
$l-size: 4.8rem;
$xl-size: 6.4rem;
$xxl-size: 8rem;

$female: rgb(248, 126, 147);
$male: rgb(101, 116, 255);
$primary: rgb(52, 152, 255);
$cyan: rgba(18, 174, 201, 0.829);
$purple: rgba(149, 120, 255, 0.836);

$bg-text: rgb(102, 102, 102);
$bg-blue: rgba(82, 163, 255, 0.5);
$bg-white: rgba(253, 253, 253, 0.75);
