$s-size: 1.6rem;
$m-size: 3.2rem;
$l-size: 4.8rem;
$xl-size: 6.4rem;
$xxl-size: 8rem;

$female: rgb(248, 148, 164);
$male: rgb(132, 165, 255);
$primary: rgb(52, 152, 255);
$cyan: rgba(18, 174, 201, 0.829);
$purple: rgba(149, 120, 255, 0.836);
$light-purple: #e0c3fc;

$bg-text: rgb(102, 102, 102);
