@import "./base/_settings";
@import "./base/_base";
@import "./components/_header.scss";
@import "./components/_freetimeForm.scss";
@import "./components/_freetime";
@import "./components/_login.scss";
@import "./components/_staffList";
@import "./components/_schedule";
@import "./components/_scheduleList";
@import "./components/_scheduleListByStaff";
@import "./components/_welcome";
@import "./components/_itemsList";

.container {
  margin: 20px 20px 20px 10px;
  border-top: solid 5px;
  border-image: linear-gradient(
      90deg,
      $cyan,
      $purple,
    )
    10;
}

.footer {
  text-align: center;
  font-size: 1rem;
}


.casher {
  color: $female;
}

.tallyClerk {
  color: $male
}




